@page "/counter"

<h1><em>Counter!!</em></h1>
<p>I increment by @IncrementAmount!</p>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

@functions {
    int currentCount = 0;

    [Parameter] protected int IncrementAmount { get; set; } = 5;

    void IncrementCount()
    {
        currentCount+=IncrementAmount;
    }
}
